  /* Move down content because we have a fixed navbar that is 3.5rem tall */
  body {
      padding-top: 3.5rem;
      background-color:black; /*set background color to black*/
      padding: 40px;
    }

  h1{
    color: white;
    margin-bottom: 30px;
  }

  .navbar a{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: left;
    font-size: 17px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: dashed;
    letter-spacing: 1px;
}

.navbar a:hover{
  color:#0085CA ;
}

  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  .jumbotron{
    background-color: black;
  }
  
  .maintitle{
    color: white;
  }
  
  .introduction{
    color: white;
  }
  
  .foot{
    color: white;
  }
  
  
  .search-box, .search-button{
    border-radius: 0;
  }
  
  
  .search-button{
    background-color:#0085ca;
  }
  
  /*
  #characterTitle, #comicTitle{
    color:white;
  }

  */


  .cardsec{
    display: flex;
    width: 100%;
    overflow-y:hidden;
    margin-left: 15px;
    margin-right: 15px;
}

/*
  .card:hover {
      margin-left: 0 40px;
      transform: scale(1.2);
      cursor: pointer;
      transition: 250ms all;
  }
*/

  .content {
    display: none;
    position: relative;
    min-height: 200px;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 20px;
  }

  .content div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
  }

  .content-display{
      display: none;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
  }

  #content-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    padding: 10px;
    /* width: 35px;; */
    border: 1px solid lightgrey;
    border-radius: 45%;
    left: 20px;
  }

  #movie-searchable{
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .movie{
    margin-bottom: 50px;
  }
  
  .card{
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    background-color: #1a1a1a;
  }
  h2{
    color: white;
  }

  h3{
    color: white;
  }

  p{
    color: white;
  }

  .row{
    
    width: 100%;
    overflow-y:hidden;
    
  }

  
  .hideb{
    display: none;
  }

  .cont{
    color:white;
  }

  .clickme{
    height: 320px;
  }

  #nav {
    position: absolute;
  }
  
  #prev {
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #ceaaaa;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  #next {
    position: absolute;
    right: 0;
    display: inline-block;
    background-color: #ceaaaa;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .trailersec{
    margin-top: 50px;
  }

  .videosec{
    margin-top: 50px;
  }

  #movieSec{
    margin-top: 50px;
  }
  
  


  
  