/*Body Element Styling*/
body {
    padding-top: 3.5rem;/* Move down content because we have a fixed navbar that is 3.5rem tall */
    background-color:black; /*set background color to black*/
    padding: 40px;
  }

h1{
  color: white;
  margin-bottom: 30px;
}

/*Navbar Styling*/
.navbar a{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  float: left;
  font-size: 17px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: dashed;
  letter-spacing: 1px;
}

.navbar a:hover{
  color:#0085CA ;
}
  
/*Bootstrap template styling*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron{
  background-color: black;
}

/*Main title color*/
.maintitle{
  color: white;
}

/*Introduction color*/
.introduction{
  color: white;
}

/*search button styling*/
.search-box, .search-button{
  border-radius: 0;
}

.search-button{
  background-color:#0085ca;
}

/*Card section styling*/
.cardsec{
  display: flex;
  width: 100%;
  overflow-y:hidden;
  margin-left: 15px;
  margin-right: 15px;
}

.card{
  border: none;
  border-radius: 2px;
  margin-top: 20px;
  background-color: #1a1a1a;
}

/*Search movie section styling*/
#movie-searchable{
  margin-top: 20px;
  margin-bottom: 50px;
}

/*Slideshow styling*/
#slideshow{
  margin-top: 5%;
}

/*Movie styling*/
.movie{
  margin-bottom: 50px;
}

/*Heading styling*/
h2{
  color: white;
  font-family: 'Frank Ruhl Libre', serif;

}

h3{
  color: white;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 1px;
}

p{
  color: white;
  font-family: 'Roboto', sans-serif;
}

h6{
  color: white;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: medium;
}

h5{
  color: white;
  font-family: 'Frank Ruhl Libre', serif;
}

/*Row styling*/
.row{
  width: 100%;
  overflow-y:hidden;
}

.hideb{
  display: none;
}

.cont{
  color:white;
}

.clickme{
  height: 320px;
}

/*Scrollbar-x styling*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*Trailer section styling*/
.trailersec{
  margin-top: 50px;
}

/*Video section styling*/
.videosec{
  margin-top: 50px;
}

/*Movie section styling*/
#movieSec{
  margin-top: 50px;
}

/*Trending section styling*/
#trendSec{
  margin-top: 50px;
}

/*Movie description styling*/
#movieDescription{
  margin-top: 30px;
}

/*TV description styling*/
#tvDescription{
  margin-top: 30px;
}

/*Movie line styling*/
#movieLine{
  bottom:0px;
}

.tstyle{
  color: rgba(255, 255, 255, 0.5);
}

/*Trailer styling*/
.trailerstyle{
  border: none;
}

/*Video styling*/
.videostyle{
  border: none;
}

/*Movie Name styling*/
#movieMainTitle{
  margin-top:40px;
}

/*Slideshow styling*/
#slideshow{
  margin-top:45px;
}

/*Contact form styling*/
#contact{
  margin-top:130px;
}

/*Footer styling*/
footer{
  margin-top: 100px;
  border-top: 1px solid white;
}

.socialmedia{
  margin-top: 10px;
}

.smicon{
  margin-left: 5px;
}

/*Animation*/
.animate__animated.animate__fadeIn {
  --animate-duration: 1.5s;
}

/*Actor description styling*/
#actorDescription{
  margin-top: 30px;
}

  


  
  